In [1]:
import requests
import numpy as np
import pandas as pd
from census import Census
import matplotlib.pyplot as plt

In [2]:
from config import api_key
c=Census(api_key,
        year=2021)

In [3]:
education_data = c.acs5.get(
    (
        "NAME",
        "B15003_002E",
        "B15003_017E",
        "B15003_018E",
        "B15003_021E",
        "B15003_022E",
        "B15003_023E",
        "B15003_024E",
        "B15003_025E",
        "B01002_001E"
    ),
    {'for': 'state:*'}
)

education_df=pd.DataFrame(education_data)

education_df=education_df.rename(
    columns = {
        "NAME":"State",
        "B15003_002E":"No education",
        "B15003_017E":"High School",
        "B15003_018E":"GED or alternative",
        "B15003_021E":"associates",
        "B15003_022E":"Bachelors",
        "B15003_023E":"Masters",
        "B15003_024E":"Professional",
        "B15003_025E":"Doctorate",
        "B01002_001E":"age"
    }
)

# census_pd["Poverty Rate"]=100*census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)

education_df=education_df[
    [
        "State",
        "No education",
        "High School",
        "GED or alternative",
        "associates",
        "Bachelors",
        "Masters",
        "Professional",
        "Doctorate",
        "age"
    ]
]

#Display DataFrame
print(f"Number of rows in the DataFrame:){len(education_df)}")
education_df.head()

Number of rows in the DataFrame:)52

,State,No education,High School,GED or alternative,associates,Bachelors,Masters,Professional,Doctorate,age
0,Alabama,43813.0,864345.0,176864.0,303299.0,563628.0,251040.0,54076.0,41681.0,39.3
1,Alaska,3675.0,111772.0,26101.0,41808.0,92691.0,39503.0,9969.0,6028.0,35.0
2,Arizona,74688.0,934136.0,191362.0,433004.0,923339.0,413353.0,92301.0,66423.0,38.1
3,Arkansas,26523.0,566668.0,122064.0,154675.0,313527.0,129009.0,29370.0,19363.0,38.3
4,California,820953.0,4836799.0,640355.0,2135865.0,5855383.0,2449563.0,678258.0,468234.0,37.0

In [4]:
education_df

,State,No education,High School,GED or alternative,associates,Bachelors,Masters,Professional,Doctorate,age
0,Alabama,43813.0,864345.0,176864.0,303299.0,563628.0,251040.0,54076.0,41681.0,39.3
1,Alaska,3675.0,111772.0,26101.0,41808.0,92691.0,39503.0,9969.0,6028.0,35.0
2,Arizona,74688.0,934136.0,191362.0,433004.0,923339.0,413353.0,92301.0,66423.0,38.1
3,Arkansas,26523.0,566668.0,122064.0,154675.0,313527.0,129009.0,29370.0,19363.0,38.3
4,California,820953.0,4836799.0,640355.0,2135865.0,5855383.0,2449563.0,678258.0,468234.0,37.0
5,Colorado,48362.0,657382.0,153594.0,332860.0,1051023.0,465071.0,97490.0,72585.0,37.1
6,Connecticut,33094.0,579708.0,77241.0,194987.0,561567.0,334219.0,79160.0,45020.0,41.0
7,Delaware,6240.0,186669.0,23259.0,56852.0,134252.0,71962.0,12917.0,13243.0,41.1
8,District of Columbia,6160.0,63511.0,12051.0,14508.0,124285.0,106838.0,47536.0,20810.0,34.3
9,Florida,248308.0,3641011.0,641918.0,1544611.0,3038293.0,1253271.0,356975.0,191417.0,42.3
10,Georgia,107120.0,1598837.0,326511.0,576689.0,1426415.0,643718.0,161767.0,103325.0,37.1
11,Hawaii,11896.0,246918.0,27011.0,112084.0,226399.0,83849.0,24381.0,15789.0,39.6
12,Idaho,11869.0,253718.0,60803.0,117437.0,231259.0,79872.0,19205.0,14946.0,36.8
13,Illinois,130900.0,1910784.0,315398.0,722272.0,1910757.0,920298.0,212604.0,125910.0,38.5
14,Indiana,51633.0,1250041.0,235954.0,403773.0,797977.0,334885.0,69354.0,51083.0,37.9
15,Iowa,19109.0,565056.0,83817.0,253485.0,423852.0,144056.0,34880.0,26932.0,38.3
16,Kansas,22280.0,416830.0,76509.0,170483.0,415201.0,181958.0,37562.0,26514.0,37.0
17,Kentucky,34640.0,803049.0,197458.0,263311.0,461841.0,232970.0,56514.0,33745.0,39.0
18,Louisiana,41515.0,864695.0,171509.0,209561.0,511447.0,200435.0,56205.0,31996.0,37.4
19,Maine,6330.0,258100.0,49282.0,102198.0,209253.0,89039.0,21308.0,14850.0,44.7
20,Maryland,64093.0,884726.0,129566.0,290613.0,934036.0,578591.0,134194.0,115661.0,38.9
21,Massachusetts,79741.0,998781.0,138304.0,376608.0,1215939.0,701003.0,151981.0,147426.0,39.6
22,Michigan,79529.0,1698210.0,273069.0,671205.0,1287856.0,615472.0,130123.0,86211.0,39.8
23,Minnesota,53273.0,801722.0,117374.0,447640.0,944751.0,354504.0,87755.0,58452.0,38.2
24,Mississippi,25884.0,469188.0,119029.0,207794.0,280355.0,127528.0,29987.0,21058.0,37.8
25,Missouri,38307.0,1083713.0,192888.0,342927.0,789957.0,363092.0,78069.0,54081.0,38.8
26,Montana,3112.0,172411.0,35085.0,71110.0,166825.0,57507.0,15666.0,11228.0,40.0
27,Nebraska,19563.0,281323.0,45022.0,136857.0,274664.0,103385.0,24415.0,17711.0,36.7
28,Nevada,40475.0,497592.0,89996.0,181391.0,359703.0,134479.0,36237.0,21184.0,38.3
29,New Hampshire,7085.0,228387.0,40955.0,101383.0,230314.0,110986.0,19946.0,15789.0,43.0
30,New Jersey,100246.0,1532767.0,160793.0,430589.0,1611515.0,763884.0,178003.0,107451.0,40.0
31,New Mexico,19774.0,305573.0,65825.0,127548.0,225538.0,127471.0,27269.0,26763.0,38.3
32,New York,329538.0,2992384.0,561214.0,1246638.0,2996306.0,1706772.0,433494.0,230140.0,39.2
33,North Carolina,88587.0,1491885.0,295709.0,706805.0,1481848.0,621189.0,134988.0,101138.0,39.0
34,North Dakota,3823.0,110990.0,20410.0,71266.0,112023.0,32085.0,7056.0,5488.0,35.2
35,Ohio,78456.0,2324639.0,312216.0,713240.0,1483021.0,674554.0,145311.0,95443.0,39.4
36,Oklahoma,30779.0,673014.0,130712.0,214570.0,457256.0,173720.0,40742.0,28424.0,36.8
37,Oregon,34201.0,539294.0,128789.0,270372.0,644813.0,275519.0,68616.0,52146.0,39.6
38,Pennsylvania,98390.0,2727779.0,351560.0,795367.0,1813647.0,859980.0,196159.0,147464.0,40.8
39,Rhode Island,12521.0,178129.0,35587.0,62893.0,160523.0,77992.0,18212.0,14042.0,40.0
40,South Carolina,39318.0,851802.0,156209.0,351120.0,653988.0,288540.0,60868.0,43028.0,39.8
41,South Dakota,4431.0,147811.0,26980.0,68241.0,119331.0,38009.0,10182.0,6515.0,37.1
42,Tennessee,51894.0,1217869.0,267944.0,357650.0,859255.0,356100.0,87302.0,64554.0,38.8
43,Texas,428003.0,3747907.0,815712.0,1402444.0,3791665.0,1522588.0,327556.0,229386.0,35.0
44,Utah,18794.0,377270.0,58341.0,189992.0,450953.0,166433.0,35638.0,27835.0,31.3
45,Vermont,2630.0,113463.0,13665.0,38964.0,110000.0,54302.0,11805.0,9583.0,42.7
46,Virginia,74749.0,1173844.0,228643.0,465927.0,1338831.0,762490.0,155464.0,115612.0,38.5
47,Washington,70975.0,946464.0,203829.0,536996.0,1217575.0,544325.0,120128.0,85980.0,37.9
48,West Virginia,10840.0,432304.0,79928.0,98115.0,165975.0,81546.0,17591.0,13169.0,42.6
49,Wisconsin,37230.0,1070081.0,139670.0,449533.0,833670.0,312037.0,70286.0,52306.0,39.6
50,Wyoming,2706.0,90197.0,20753.0,45150.0,69809.0,30947.0,5993.0,4534.0,38.2
51,Puerto Rico,56393.0,618395.0,54097.0,264340.0,469856.0,129632.0,29645.0,28977.0,43.1

In [4]:
education_df.to_csv("Resources/education_data.csv", encoding="utf-8", index=False)

In [5]:
income_data = c.acs5.get(
    (
        "NAME",
        "B19013_001E",
        "B19301_001E"
    ),
    {'for': 'state:*'}
)

income_df=pd.DataFrame(income_data)

income_df=income_df.rename(
    columns = {
        "NAME":"State",
        "B19013_001E":"Income",
        "B19301_001E":"Income Per Capita"
    }
)

income_df=income_df[
    [
        "State",
        "Income",
        "Income Per Capita" 
    ]
]

# #Display DataFrame
# print(f"Number of rows in the DataFrame:){len(income_df)}")
# max_income=max(income_df["Income Per Capita"])
# min_income=min(income_df["Income Per Capita"])
# print(max_income)
# print(min_income)

In [6]:
income_df.head()

        State   Income  Income Per Capita
0     Alabama  54943.0            30458.0
1      Alaska  80287.0            39236.0
2     Arizona  65913.0            34644.0
3    Arkansas  52123.0            29210.0
4  California  84097.0            41276.0

In [7]:
labels=["low","medium","high"]
income_cut = pd.cut(income_df["Income Per Capita"], 3,labels=labels)
income_df["Income Category"]=income_cut

In [10]:
income_df=income_df[["State","Income Per Capita","Income Category"]]
income_df.head()

        State  Income Per Capita Income Category
0     Alabama            30458.0             low
1      Alaska            39236.0          medium
2     Arizona            34644.0          medium
3    Arkansas            29210.0             low
4  California            41276.0          medium

In [9]:
income_df.to_csv("Resources/income_data.csv",encoding="utf-8",index=False)