In [1]:
import requests
import numpy as np
import pandas as pd
from census import Census
import matplotlib.pyplot as plt

In [2]:
from config import api_key
c=Census(api_key,
        year=2021)

In [3]:
education_data = c.acs5.get(
    (
        "NAME",
        "B15003_002E",
        "B15003_017E",
        "B15003_018E",
        "B15003_021E",
        "B15003_022E",
        "B15003_023E",
        "B15003_024E",
        "B15003_025E"
    ),
    {'for': 'state:*'}
)

education_df=pd.DataFrame(education_data)

education_df=education_df.rename(
    columns = {
        "NAME":"State",
        "B15003_002E":"No education",
        "B15003_017E":"High School",
        "B15003_018E":"GED or alternative",
        "B15003_021E":"associates",
        "B15003_022E":"Bachelors",
        "B15003_023E":"Masters",
        "B15003_024E":"Professional",
        "B15003_025E":"Doctorate"
    }
)

# census_pd["Poverty Rate"]=100*census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)

education_df=education_df[
    [
        "State",
        "No education",
        "High School",
        "GED or alternative",
        "associates",
        "Bachelors",
        "Masters",
        "Professional",
        "Doctorate",        
    ]
]

#Display DataFrame
print(f"Number of rows in the DataFrame:){len(education_df)}")
education_df.head()

Number of rows in the DataFrame:)52

,State,No education,High School,GED or alternative,associates,Bachelors,Masters,Professional,Doctorate
0,Alabama,43813.0,864345.0,176864.0,303299.0,563628.0,251040.0,54076.0,41681.0
1,Alaska,3675.0,111772.0,26101.0,41808.0,92691.0,39503.0,9969.0,6028.0
2,Arizona,74688.0,934136.0,191362.0,433004.0,923339.0,413353.0,92301.0,66423.0
3,Arkansas,26523.0,566668.0,122064.0,154675.0,313527.0,129009.0,29370.0,19363.0
4,California,820953.0,4836799.0,640355.0,2135865.0,5855383.0,2449563.0,678258.0,468234.0

In [4]:
education_df.to_csv("Resources/education_data.csv", encoding="utf-8", index=False)

In [5]:
income_data = c.acs5.get(
    (
        "NAME",
        "B19013_001E",
        "B19301_001E"
    ),
    {'for': 'state:*'}
)

income_df=pd.DataFrame(income_data)

income_df=income_df.rename(
    columns = {
        "NAME":"State",
        "B19013_001E":"Income",
        "B19301_001E":"Income Per Capita"
    }
)

income_df=income_df[
    [
        "State",
        "Income",
        "Income Per Capita" 
    ]
]

#Display DataFrame
print(f"Number of rows in the DataFrame:){len(income_df)}")
max_income=max(income_df["Income Per Capita"])
min_income=min(income_df["Income Per Capita"])
print(max_income)
print(min_income)

Number of rows in the DataFrame:)52
63793.0
14047.0

In [6]:
income_df

                   State   Income  Income Per Capita
0                Alabama  54943.0            30458.0
1                 Alaska  80287.0            39236.0
2                Arizona  65913.0            34644.0
3               Arkansas  52123.0            29210.0
4             California  84097.0            41276.0
5               Colorado  80184.0            42807.0
6            Connecticut  83572.0            47869.0
7               Delaware  72724.0            38917.0
8   District of Columbia  93547.0            63793.0
9                Florida  61777.0            35216.0
10               Georgia  65030.0            34516.0
11                Hawaii  88005.0            39045.0
12                 Idaho  63377.0            31509.0
13              Illinois  72563.0            39571.0
14               Indiana  61944.0            32537.0
15                  Iowa  65429.0            34817.0
16                Kansas  64521.0            34968.0
17              Kentucky  55454.0            30634.0
18             Louisiana  53571.0            30340.0
19                 Maine  63182.0            36171.0
20              Maryland  91431.0            45915.0
21         Massachusetts  89026.0            48617.0
22              Michigan  63202.0            34768.0
23             Minnesota  77706.0            41204.0
24           Mississippi  49111.0            26807.0
25              Missouri  61043.0            33770.0
26               Montana  60560.0            34423.0
27              Nebraska  66644.0            35189.0
28                Nevada  65686.0            34621.0
29         New Hampshire  83449.0            43877.0
30            New Jersey  89703.0            46691.0
31            New Mexico  54020.0            29624.0
32              New York  75157.0            43208.0
33        North Carolina  60516.0            34209.0
34          North Dakota  68131.0            37343.0
35                  Ohio  61938.0            34526.0
36              Oklahoma  56956.0            30976.0
37                Oregon  70084.0            37816.0
38          Pennsylvania  67587.0            37725.0
39          Rhode Island  74489.0            39603.0
40        South Carolina  58234.0            32823.0
41          South Dakota  63920.0            33468.0
42             Tennessee  58516.0            32908.0
43                 Texas  67321.0            34255.0
44                  Utah  79133.0            33378.0
45               Vermont  67674.0            37903.0
46              Virginia  80615.0            43267.0
47            Washington  82400.0            43817.0
48         West Virginia  50884.0            28761.0
49             Wisconsin  67080.0            36754.0
50               Wyoming  68002.0            36288.0
51           Puerto Rico  21967.0            14047.0

In [7]:
labels=["low","medium","high"]
income_cut = pd.cut(income_df["Income Per Capita"], 3,labels=labels)
income_cut
income_df["bin"]=income_cut
income_df

                   State   Income  Income Per Capita     bin
0                Alabama  54943.0            30458.0     low
1                 Alaska  80287.0            39236.0  medium
2                Arizona  65913.0            34644.0  medium
3               Arkansas  52123.0            29210.0     low
4             California  84097.0            41276.0  medium
5               Colorado  80184.0            42807.0  medium
6            Connecticut  83572.0            47869.0    high
7               Delaware  72724.0            38917.0  medium
8   District of Columbia  93547.0            63793.0    high
9                Florida  61777.0            35216.0  medium
10               Georgia  65030.0            34516.0  medium
11                Hawaii  88005.0            39045.0  medium
12                 Idaho  63377.0            31509.0  medium
13              Illinois  72563.0            39571.0  medium
14               Indiana  61944.0            32537.0  medium
15                  Iowa  65429.0            34817.0  medium
16                Kansas  64521.0            34968.0  medium
17              Kentucky  55454.0            30634.0  medium
18             Louisiana  53571.0            30340.0     low
19                 Maine  63182.0            36171.0  medium
20              Maryland  91431.0            45915.0  medium
21         Massachusetts  89026.0            48617.0    high
22              Michigan  63202.0            34768.0  medium
23             Minnesota  77706.0            41204.0  medium
24           Mississippi  49111.0            26807.0     low
25              Missouri  61043.0            33770.0  medium
26               Montana  60560.0            34423.0  medium
27              Nebraska  66644.0            35189.0  medium
28                Nevada  65686.0            34621.0  medium
29         New Hampshire  83449.0            43877.0  medium
30            New Jersey  89703.0            46691.0  medium
31            New Mexico  54020.0            29624.0     low
32              New York  75157.0            43208.0  medium
33        North Carolina  60516.0            34209.0  medium
34          North Dakota  68131.0            37343.0  medium
35                  Ohio  61938.0            34526.0  medium
36              Oklahoma  56956.0            30976.0  medium
37                Oregon  70084.0            37816.0  medium
38          Pennsylvania  67587.0            37725.0  medium
39          Rhode Island  74489.0            39603.0  medium
40        South Carolina  58234.0            32823.0  medium
41          South Dakota  63920.0            33468.0  medium
42             Tennessee  58516.0            32908.0  medium
43                 Texas  67321.0            34255.0  medium
44                  Utah  79133.0            33378.0  medium
45               Vermont  67674.0            37903.0  medium
46              Virginia  80615.0            43267.0  medium
47            Washington  82400.0            43817.0  medium
48         West Virginia  50884.0            28761.0     low
49             Wisconsin  67080.0            36754.0  medium
50               Wyoming  68002.0            36288.0  medium
51           Puerto Rico  21967.0            14047.0     low

In [8]:
income_df.to_csv("Resources/income_data.csv",encoding="utf-8",index=False)